@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
 .list-group-item {
     line-height: 2.5;
}
 .sideMenuClose {
     width: 0;
     opacity: 0;
}
 .sideMenuOpen {
     width: 33.333;
     opacity: 1;
}
 h2 {
     text-align: center;
     text-shadow: 2px 2px 3px #666666;
}
 nav {
     background-color: black;
     display: flex;
     justify-content: space-around;
     padding: 10px;
     color: azure;
     text-transform: uppercase;
     min-height: 8vh;
}
 body {
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("image/profile.jpg");
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: "PT Sans", sans-serif;
     background-image: url("https://media.giphy.com/media/2rJnsvZO5QR8c/giphy.gif");
}
/* Change color of links on hover */
 a:hover {
     color: white;
}
 @keyframes fadeInOpacity {
     0% {
         opacity: 0;
    }
     100% {
         opacity: 1;
    }
}
 a:active{
     color: rgba(165, 42, 42, 0.637);
}
 nav-links{
     letter-spacing: 3px;
}
 @media screen and(max-wigth:768px){
     body{
         display: none;
    }
}
 li{
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
}
